{{#each pokemon}}
<p>{{name}}</p>
<form method="post" action="/{{tId}}/newPokemon">
    <input type="hidden" name="name" value={{name}}>
    <input type="hidden" name="id" value={{id}}>
    <input type="submit" name="" value="I Choose You!">
</form>
{{/each}}