<div class="fPageCont">
    <div class="headingCont">
        <h1>Hi {{info.0.tName}}</h1>
    </div>
    <div class="pokemonContainer">
        {{#each info}}
            {{> pokCards}}
        {{/each}}
    </div>
    <div class="newCont">
        <a href="/{{info.0.tId}}/newPokemon"><button >Choose New Pokemon</button></a>
    </div>
    
</div>